<div class="well">
<%= form_for @question do |f| %>
    <div class='control-group'>
      <%= f.label :question %>
      <%= f.text_field :question %>
    </div>
    <div class='control-group'>
      <%= f.label :answer %>
      <%= f.text_field :answer %>
    </div>
    <div class='control-group'>
      <%= f.radio_button :difficulty, 1, :checked => @question.difficulty == 1 ? true  : false %>
      <%= f.label :difficulty, "Muy Facil", :value => 1 %>
      <%= f.radio_button :difficulty, 2, :checked => @question.difficulty == 2 ? true  : false %>
      <%= f.label :difficulty, "Facil", :value => 2 %>
      <%= f.radio_button :difficulty, 3, :checked => @question.difficulty == 3 ? true  : false %>
      <%= f.label :difficulty, "Medio", :value => 3 %>
      <%= f.radio_button :difficulty, 4, :checked => @question.difficulty == 4 ? true  : false %>
      <%= f.label :difficulty, "Dificil", :value => 4 %>
      <%= f.radio_button :difficulty, 5, :checked => @question.difficulty == 5 ? true  : false %>
      <%= f.label :difficulty, "Muy Dificil", :value => 5 %>
    </div>
    <%= render 'categoria' %>
    <br/>
    <%= f.submit(@question.new_record? ? 'New Question' : 'Update Question', class: 'btn btn-primary')%>
<% end %>
</div>
