<div class="well">
<%= form_for @question do |f| %>
    <div class='control-group'>
      <%= f.label :question %>
      <%= f.text_field :question %>
    </div>
    <div class='control-group'>
      <%= f.label :answer %>
      <%= f.text_field :answer %>
    </div>
    <div class='control-group'>
      <%= f.label :difficulty %>
      <%= f.text_field :difficulty %>
    </div>
    <div class='control-group'>
  <% @categories.each do |category| %>

  <%= f.radio_button :categoria, category.id, :checked => false %>
  <%= f.label :categoria, category.name, :value => category.id %>
  <% end %>
</div>
    <br/>
    <%= f.submit(@question.new_record? ? 'New Question' : 'Update Question', class: 'btn btn-primary')%>
<% end %>
</div>
