<div class="well">
<%= form_for @question do |f| %>
    <div class='control-group'>
      <%= f.label :question %>
      <%= f.text_field :question %>
    </div>
    <div class='control-group'>
      <%= f.label :answer %>
      <%= f.text_field :answer %>
    </div>
    <div class="control-group"><%= f.label :data, "Añadir imagen para pregunta" %><%= f.file_field :data %></div>
    <br/>
    <%= f.submit(@question.new_record? ? 'New Question' : 'Update Question', class: 'btn btn-success')%>
<% end %>
</div>

  

</div>
