<%= javascript_include_tag "questions" %>
<p id="notice"><%= notice %></p>
<p><%= @question.question %></p>
<p><%= @question.answer %></p>
<% if @imgquest %>
<%= image_tag url_for(:controller => "images", :action => "show", :id => @imgquest.id)%>
<% end %>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
