<% if @game.table_values[0] %>
  <%= render 'winner' %>
<% else %>
<div id="side" class="row">
</br>
  <% @player.each do |player| %>
  <div class="well text-center">
    <%= player.name %><br/><%= player.points %>
  </div>
  <% end %>
</div>
<div class="text-center" id="main_container">
  <div><h1 class="text-center"><%= @game.game_name.upcase.html_safe %></h1></div>
  <div class="text-center">
    <table class='game text-center'>
        <tbody class='bradius'>
          <tr class='game'>
            <% @game.categories.each do |category| %>
              <td class='game td_header'><%= category.name %></td>
            <% end %>
        </tr>
        <% id_val = 1 %>
        <% for i in 1..@game.num_questions %>
          <tr class='game'>
          <% for j in 1..@game.categories.size %>
            <% d = i %>
            <% c = j %>
            <td class='game'>
              <% if eval_block(id_val, @game) %>
                <%= form_tag("/questions/question", method: "post") do %>
                  <%= hidden_field_tag(:num_game, @game.id) %>
                  <%= hidden_field_tag(:num, id_val) %>
                  <%= hidden_field_tag(:difficulty, d) %>
                  <%= hidden_field_tag(:categoria, c) %>
                  <%= render 'values', value: d, id_val: id_val %>
                <% end %>
              <% end %>
              <% id_val += 1 %>
            </td>
          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
