<div id="main_container">
  <div class="barra2">
<h1 class="pregunta well barra well2 text-center"><%= @game.game_name.upcase.html_safe %></h1></div>
  <table class="game center-table">
    <tbody>
      <tr class="game">
        <td class="games">Pregunta de Rescate</td>
      </tr>
      <tr class="game">
        <td class="game">100</td>
      </tr>
    </tbody>
  </table>
  <br/>
  <div>
    <table class='game center-table' id="game_table">
        <tbody>
          <tr class='game'>
            <%= render 'categories_game', game: @game %>
        </tr>
        <% id_val = 1 %>
        <% for i in 1..@game.num_questions %>
          <tr class='game'>
          <% for j in 1..@game.categories.size %>
            <% d = i %>
            <% c = j-1 %>
            <td class='game'>
              <% if eval_block(id_val, @game) %>
                <% if @game.table_questions[c] != 0 %>
                  <% button_tag(type: 'button') do %>
                    <%= content_tag(:strong, d * 100) %>
                  <%end %>
                <% else %>
                <%= form_tag(select_questions_game_path, method: "POST", style: "
    margin-bottom: 0px") do %>
                  <%= hidden_field_tag(:num, id_val) %>
                  <%= hidden_field_tag(:difficulty, d) %>
                  <%= hidden_field_tag(:categoria, @game.categories[c].id) %>
                  <%= render 'values', value: d, id_val: id_val %>
                <% end %>
                <% end %>
              <% end %>
              <% id_val += 1 %>
            </td>
          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
